* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 25rem;
  height: fit-content;
  background: hsla(0, 0%, 100%, 0.1);
  padding: 2rem;
  border-radius: 0.8rem;
  text-align: center;
}

#progress_bar {
  width: 15%;
  height: 2rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 2rem;
}
