@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* TODO: organizar o root */

:root {
  --progress_bar_color: linear-gradient(to right, #ff0000, #f52929);
  --progress_bar_circle_color: #f52929;
  --progress_bar_size: .8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 25rem;
  height: fit-content;
  background: hsla(0, 0%, 100%, 0.1);
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.img_wrapper {
  height: 20rem;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.music_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.music_details p {
  background-color: hsla(0, 0%, 100%, 0.1);
  width: fit-content;
  padding: 0.4rem 0.8rem;
  border-radius: 4rem;
  font-size: 0.6rem;
  font-weight: bold;
}

.music_controller_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

#progress_bar_wrapper {
  width: 100%;
  height: 0.35rem;
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: height 0.2s ease;
}

#progress_bar_wrapper:hover {
  height: 0.45rem;
}

#progress_bar {
  border-radius: 2rem;
  width: 0%;
  height: 0.5rem;
  background: var(--progress_bar_color);
  position: relative;
}

#progress_bar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: var(--progress_bar_size);
  width: var(--progress_bar_size);
  background-color: var(--progress_bar_circle_color);
  border-radius: 50%;
  display: none;
  opacity: 0;
}

#progress_bar.show-circle::after {
  display: block;
  opacity: 1;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#music_id_display {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: hsla(0, 0%, 10%, 1);
}

.control_music_btn,
#toggle_configs_btn {
  background-color: hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
  transition: 0.4s ease background-color;
}

#music_id_display,
.control_music_btn,
#toggle_configs_btn {
  border: none;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.configs_btn_active {
  transform: rotate(180deg);
}

.control_music_btn:hover,
#toggle_configs_btn:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.control_music_index_wrapper {
  display: flex;
  gap: 0.4rem;
}

#timestamp {
  border: none;
  height: 2rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: hsla(0, 0%, 100%, 0.1);
}

#configs_wrapper header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .6rem;
}

.header_config_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider_line {
  height: 1px;
  width: 100%;
  background-color: #666;
}

.configs_container {
  display: none;
  width: 100%;
  height: 5rem;
  padding: 1rem;
}